@import 'global';
@import 'vars';


.header {
  background-color: #161c27;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__logo {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: logoDown;
  animation-delay: .2s;
}

@keyframes logoDown {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.header__menu {
  a {
    color: #dfdede;
    text-transform: uppercase;
    transition: .2s;
    font-size: 17px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: menuDown;

    &+a {
      margin-left: 25px;
    }

    &:hover {
      color: #c3a890;
      text-shadow: 2px 2px 30px #fff;
    }
  }


}


@keyframes menuDown {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*+++++++++++++++++++++++        INTRO        ++++++++++*/
.intro {
  min-height: 753px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;

  &__box {
    max-width: 465px;
    margin-left: auto;
    padding-top: 200px;

    h1 {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 30px;
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-name: h1Right;
      animation-delay: .5s;

      @keyframes h1Right {
        from {
          opacity: 0;
          // transform: translateX(1000px);
        }

        to {
          opacity: 1;
          // transform: translateX(0);
        }
      }
    }

    .intro__text {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 45px;
      animation-duration: 3s;
      animation-fill-mode: both;
      animation-name: introTextRight;
      animation-delay: 1s;

      @keyframes introTextRight {
        from {
          opacity: 0;
          // transform: translateX(-1000px);
        }

        to {
          opacity: 1;
          // transform: translateX(0);
        }
      }
    }

    .intro__btn {
      font-size: 20px;
      animation-duration: 4s;
      animation-fill-mode: both;
      animation-name: introBtnUp;
      animation-delay: 1.5s;

      @keyframes introBtnUp {
        from {
          opacity: 0;
          // transform: translateX(1000px);
        }

        to {
          opacity: 1;
          // transform: translateX(0);
        }
      }
    }
  }
}


/*+++++++++++++++++++++++       ASK        ++++++++++*/
.ask__inner {
  background-color: #fff;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ask__content {
  max-width: 590px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 197px;
    background-image: url(../images/askl.png);
    top: 23%;
    left: 20%;
  }

  .ask__title {
    margin-bottom: 30px;
  }

  .ask__text {
    color: $bt;
    margin-bottom: 90px;
  }

  .ask__btn {
    padding: 18px 35px;
    font-size: 17px;
  }
}

.ask__heads {
  width: 675px;
  height: 675px;
  border-radius: 50%;
  background-color: #f5f3f1;
  position: relative;

  .ask__head {
    position: absolute;
  }

  .ask__head-one {
    top: 12px;
    right: 40px;
  }

  .ask__head-two {
    right: 144px;
    bottom: 65px;
  }

  .ask__head-three {
    top: 120px;
    left: -13px;
  }

}


/*+++++++++++++++++++++++       SIMPLE        ++++++++++*/
.simple__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}

.simple__img {
  background-image: url(../images/brush.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 501px;
  height: 373px;
}

.simple__content {
  max-width: 590px;
}

.simple__title {
  margin-bottom: 20px;
}

.simple__text {
  color: $gt;
  margin-bottom: 85px;
}

.simple__btn {
  padding: 18px 35px;
  font-size: 17px;
}


/*+++++++++++++++++++++++       SLIDER        ++++++++++*/
.slider {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 639px;
  padding: 0 15px;
}

.slider__item {
  padding-top: 215px;
}


.slider__text {
  padding: 60px;
  background-color: #221d19;
  opacity: .8;
  margin: 0 auto;
  text-align: center;
  max-width: 735px;
  color: #fff;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  border: none;
  font-size: 0;
  color: transparent;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #221d19;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
  outline: none;
}

.slick-prev {
  background-image: url(../images/arrowl.png);
  left: 10px;


  &:hover {
    background-color: #3b322b;
    box-shadow: 2px 2px 10px #3b322b;
  }
}

.slick-next {
  background-image: url(../images/arrowr.png);
  right: 10px;

  &:hover {
    background-color: #3b322b;
    box-shadow: 2px 2px 10px #3b322b !important;
  }
}



/*+++++++++++++++++++++++       PRICE        ++++++++++*/
.price__wrapper {
  min-height: 691px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}


.price__wrapper-img {
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2.034px 4.568px 7px 0px rgba(130, 130, 130, 0.57);
}

.price__wrapper-box {
  width: 50%;
  background-color: #9e8a78;
  padding: 100px 100px 100px 80px;
  color: #dbdbdb;
}

.price__title {
  color: #fff;
  margin-bottom: 30px;

}

.price__text {
  font-size: 24px;
  line-height: 30px;

  max-width: 420px;
  margin-bottom: 40px;
}

.price__line {
  max-width: 480px;
  display: flex;
  justify-content: space-between;

  &+.price__line {
    margin-top: 30px;

  }

}

.price__job {
  font-size: 26px;
}

.price__price {
  font-size: 30px;
  color: #fff;
}


/*+++++++++++++++++++++++       NEW        ++++++++++*/
.new {
  padding: 40px 0 200px;
  text-align: center;

  &__wrap {
    width: 100%;
    padding: 0 15px;
  }
}

.new__title {
  position: relative;
  margin-bottom: 120px;

  &::before {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 85px;
    background-color: #9e8a78;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.new__slider {
  display: flex;

  .slick-slider .slick-list,
  .slick-slider .slick-track {
    display: flex;
  }

  .slick-slide {
    width: 336px !important;
    margin: 0 20px;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);

    li {
      button {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        border: none;
        background-color: #adadad;
        font-size: 0;
        outline: none;
        cursor: pointer;
      }

      &.slick-active {
        button {
          background-color: #000;
        }
      }

      &+li {
        margin-left: 10px;
      }
    }
  }
}

.new__slider-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 336px;
  height: 359px;
}




/*+++++++++++++++++++++++       CONTACT        ++++++++++*/
.contacts__wrap {
  width: 100%;
  min-height: 520px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .contacts__map {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.contacts__info {
  width: 50%;
  background-color: #f5f5f5;
  padding-top: 60px;
  color: #000;

  .contacts__title {
    margin-bottom: 40px;
  }

  .contacts__text {
    line-height: 28px;
    margin-bottom: 40px;
    max-width: 435px;
  }
}

.contacts__lines {
  max-width: 425px;

  a {
    color: #000;
    display: block;
    padding-left: 68px;
    position: relative;

    &+a {
      margin-top: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
    }
  }

  .contacts__line-address::before {
    background-image: url(../images/add.png);
    width: 28px;
    height: 42px;
  }

  .contacts__line-tell::before {
    background-image: url(../images/tell.png);
    width: 36px;
    height: 36px;
  }

  .contacts__line-email::before {
    background-image: url(../images/mail.png);
    width: 35px;
    height: 22px;
  }
}









/*+++++++++++++++++++++++       FOOTER        ++++++++++*/
.footer {
  height: 425px;
  background-color: #161c27;
  text-align: center;
}

.footer__logo {
  background-image: url(../images/footer-logo.png);
  background-repeat: no-repeat;
  width: 106px;
  height: 109px;
  margin: 100px auto 45px;
}

.footer__title {
  font-size: 60px;
}



@import 'media';